# top level gitignore for Noahfireball1/FlightVehcileDynamicModel
*.asv
/output/*
/slprj/*
*.slxc
.netrc
/source/*.slxc
*.txt
source/Satellites/rinex/AMC400USA_R_20223560000_01D_GN.rnx
config/CDDISLogin.txt
config/.netrc
source/DA40_Flight_Model.slxc
/source/slprj/*